:root {
    --font-size-h1: clamp(1rem, 5rem + 1.5vw, 10rem);
    --font-size-h2: clamp(1rem, 3rem + 1.5vw, 6rem);
    --font-size-h3: clamp(1rem, 2rem + 1.5vw, 4rem);
    --font-size-p: clamp(1rem, 1.5rem + 1.5vw, 1.25rem);
}
.twinkle-star-regular {
  font-family: "Twinkle Star", cursive;
  font-weight: 400;
  font-style: normal;
}
.gladly-mailed-regular{
    font-family: "gladly-mailed", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.scatterplot-vf {
    font-family: "scatterplot-vf", sans-serif;
    font-variation-settings: "RAND" 0, "wght" 300;
}
body {
    background-color: #e6e6e6;
}
#header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #d22f85;
    --bs-nav-link-hover-color: #9e1313;
    --bs-nav-link-disabled-color: rgb(28 32 36 / 75%);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
h1 {
    font-family:'gladly-mailed', cursive;
    font-size: 3em;
    margin: 5px auto;
}
h2 {
    font-family:'Courier New', Courier, monospace;
    font-size: 2em;
}
.text {
    font-family: "fira-sans", sans-serif;
}

#about {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
}

#live-updates {
    background-color: white;
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100% ;
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px auto;
}

#status {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
}

footer {
    background-color: #e6e6e6;
    text-align: center;
    padding: 10px;
}
body {
    justify-content: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 50px;
}
button {
    color: rgb(175, 98, 111);
    border: 2px solid rgb(175, 98, 111);
    border-radius: 5px;
    justify-content:center;
    align-content: center;
    display: flex;
}
@media screen and (max-width: 768px) {        /* Media Queries are good for responsive design on smaller/bigger devices */
#about, #live-updates, #status {
        width: 90%;
        margin: 10px auto;
    }
}